@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Main description styles */
.prose {
  @apply text-gray-700 leading-relaxed;
}

.prose img {
  @apply rounded-xl mx-auto my-8 shadow-md border border-gray-100;
}

.prose h2 {
  @apply text-2xl font-bold text-gray-900 mt-10 mb-4 pb-2 border-b border-gray-100;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}